anyio==2.2.0
arabic-reshaper==3.0.0
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
autopep8==2.0.1
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.12.3
bidict==0.22.1
bleach==3.3.0
blosc2==2.5.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.1.3
colorama==0.4.4
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
dukpy==0.3.1
elementpath==4.4.0
entrypoints==0.3
esprima==4.0.1
et-xmlfile==1.1.0
ffpyplayer==4.5.1
Flask==2.2.3
Flask-SocketIO==5.3.3
fonttools==4.51.0
freetype-py==2.4.0
future==1.0.0
gevent==24.2.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
html2text==2024.2.26
idna==2.10
imageio==2.34.1
imageio-ffmpeg==0.4.9
importlib-metadata==6.5.1
importlib_resources==6.4.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
javascripthon==0.12
jedi==0.18.0
Jinja2==3.1.2
joblib==1.4.2
json-tricks==3.17.3
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.5.0
jupyterlab==3.0.12
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.8.4
mdurl==0.1.2
mistune==0.8.4
msgpack==1.0.8
msgpack-numpy==0.4.8
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
ndindex==1.8
nest-asyncio==1.5.1
notebook==6.3.0
numexpr==2.10.0
numpy==1.26.4
opencv-python==4.9.0.80
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pandocfilters==1.4.3
parso==0.8.1
pickleshare==0.7.5
Pillow==10.1.0
prometheus-client==0.9.0
prompt-toolkit==3.0.18
psutil==5.9.8
psychopy==2024.1.4
psychtoolbox==3.0.19.0
py-cpuinfo==9.0.0
pycodestyle==2.10.0
pycparser==2.20
pyglet==1.4.11
Pygments==2.8.1
pylsl==1.16.2
pyparallel==0.2.2
pyparsing==2.4.7
pypi-search==2.0
pypiwin32==223
PyQt6==6.7.0
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
pyrsistent==0.17.3
pyserial==3.5
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-engineio==4.4.1
python-gitlab==4.4.0
python-socketio==5.8.0
python-vlc==3.0.11115
pytz==2021.1
pywin32==300
pyWinhook==1.6.2
pywinpty==0.5.7
PyYAML==6.0.1
pyzmq==26.0.3
questplus==2023.1
requests==2.25.1
requests-toolbelt==1.0.0
scikit-learn==1.4.2
scipy==1.13.0
Send2Trash==1.5.0
six==1.15.0
smmap==5.0.1
sniffio==1.2.0
soundfile==0.12.1
soupsieve==2.5
tables==3.9.2
termcolor==2.4.0
terminado==0.9.3
testpath==0.4.4
threadpoolctl==3.5.0
tomli==2.0.1
tornado==6.1
traitlets==5.0.5
tzdata==2024.1
ujson==5.9.0
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
websockets==12.0
Werkzeug==2.2.3
wxPython==4.2.1
xarray==2024.3.0
xmlschema==3.3.1
zipp==3.15.0
zope.event==5.0
zope.interface==6.3
